# Week 4 Peer Review

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [2]:
# Import the required packages
using Distributions, DataFrames

┌ Info: Precompiling Distributions [31c24e10-a181-5473-b8eb-7969acd0382f]
└ @ Base loading.jl:1186
┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1186

In [5]:
# Seed the random number generator

In [13]:
# Question 4: Create the 3 x 30 array named array_1
array_1 = rand(30,3)

30×3 Array{Float64,2}:
 0.12619    0.572304  0.299067
 0.583571   0.510409  0.0505972
 0.429487   0.328338  0.993108
 0.654079   0.428025  0.912229
 0.615694   0.047599  0.435421
 0.985017   0.190425  0.740756
 0.691368   0.278004  0.565829
 0.385205   0.757276  0.863702
 0.325575   0.395417  0.316659
 0.0948113  0.997158  0.0132392
 0.183454   0.238079  0.793259
 0.10042    0.724577  0.0637017
 0.469861   0.27834   0.682048
 ⋮
 0.523951   0.140486  0.232837
 0.666074   0.671311  0.332323
 0.67073    0.857086  0.219483
 0.259171   0.764807  0.334544
 0.8607     0.701472  0.85039
 0.591217   0.382439  0.461405
 0.982663   0.732113  0.783217
 0.801367   0.110339  0.552376
 0.365878   0.189886  0.317416
 0.925427   0.637402  0.240136
 0.752976   0.688855  0.800782
 0.42813    0.90179   0.458813

In [9]:
# Question 5: Mean and variance of column 1
"Mean: $(mean(array_1[:,1]))   Variance: $(var(array_1[:,1]))"

"Mean: 0.46037222799193006   Variance: 0.0041457645338765555"

In [14]:
# Question 5 (continued): Mean and variance of column 2
"Mean: $(mean(array_1[:,2]))   Variance: $(var(array_1[:,2]))"

"Mean: 0.506485898503955   Variance: 0.0793949936476744"

In [15]:
# Question 5 (continued): Mean and variance of column 3
"Mean: $(mean(array_1[:,3]))   Variance: $(var(array_1[:,3]))"

"Mean: 0.5033785612554251   Variance: 0.0763135144295277"

In [16]:
# Question 6: Import array_1 into a DataFrame named df
df = DataFrame(array_1)

30×3 DataFrame
│ Row │ x1        │ x2       │ x3        │
│     │ Float64   │ Float64  │ Float64   │
├─────┼───────────┼──────────┼───────────┤
│ 1   │ 0.12619   │ 0.572304 │ 0.299067  │
│ 2   │ 0.583571  │ 0.510409 │ 0.0505972 │
│ 3   │ 0.429487  │ 0.328338 │ 0.993108  │
│ 4   │ 0.654079  │ 0.428025 │ 0.912229  │
│ 5   │ 0.615694  │ 0.047599 │ 0.435421  │
│ 6   │ 0.985017  │ 0.190425 │ 0.740756  │
│ 7   │ 0.691368  │ 0.278004 │ 0.565829  │
│ 8   │ 0.385205  │ 0.757276 │ 0.863702  │
│ 9   │ 0.325575  │ 0.395417 │ 0.316659  │
│ 10  │ 0.0948113 │ 0.997158 │ 0.0132392 │
⋮
│ 20  │ 0.666074  │ 0.671311 │ 0.332323  │
│ 21  │ 0.67073   │ 0.857086 │ 0.219483  │
│ 22  │ 0.259171  │ 0.764807 │ 0.334544  │
│ 23  │ 0.8607    │ 0.701472 │ 0.85039   │
│ 24  │ 0.591217  │ 0.382439 │ 0.461405  │
│ 25  │ 0.982663  │ 0.732113 │ 0.783217  │
│ 26  │ 0.801367  │ 0.110339 │ 0.552376  │
│ 27  │ 0.365878  │ 0.189886 │ 0.317416  │
│ 28  │ 0.925427  │ 0.637402 │ 0.240136  │
│ 29  │ 0.752976  │ 0.688855 │ 0.800782  │
│ 30  │ 0.42813   │ 0.90179  │ 0.458813  │

In [21]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
names!(df, [Symbol("Var$i") for i in 1:3])

30×3 DataFrame
│ Row │ Var1      │ Var2     │ Var3      │
│     │ Float64   │ Float64  │ Float64   │
├─────┼───────────┼──────────┼───────────┤
│ 1   │ 0.12619   │ 0.572304 │ 0.299067  │
│ 2   │ 0.583571  │ 0.510409 │ 0.0505972 │
│ 3   │ 0.429487  │ 0.328338 │ 0.993108  │
│ 4   │ 0.654079  │ 0.428025 │ 0.912229  │
│ 5   │ 0.615694  │ 0.047599 │ 0.435421  │
│ 6   │ 0.985017  │ 0.190425 │ 0.740756  │
│ 7   │ 0.691368  │ 0.278004 │ 0.565829  │
│ 8   │ 0.385205  │ 0.757276 │ 0.863702  │
│ 9   │ 0.325575  │ 0.395417 │ 0.316659  │
│ 10  │ 0.0948113 │ 0.997158 │ 0.0132392 │
⋮
│ 20  │ 0.666074  │ 0.671311 │ 0.332323  │
│ 21  │ 0.67073   │ 0.857086 │ 0.219483  │
│ 22  │ 0.259171  │ 0.764807 │ 0.334544  │
│ 23  │ 0.8607    │ 0.701472 │ 0.85039   │
│ 24  │ 0.591217  │ 0.382439 │ 0.461405  │
│ 25  │ 0.982663  │ 0.732113 │ 0.783217  │
│ 26  │ 0.801367  │ 0.110339 │ 0.552376  │
│ 27  │ 0.365878  │ 0.189886 │ 0.317416  │
│ 28  │ 0.925427  │ 0.637402 │ 0.240136  │
│ 29  │ 0.752976  │ 0.688855 │ 0.800782  │
│ 30  │ 0.42813   │ 0.90179  │ 0.458813  │

In [34]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = last(df,20)

20×3 DataFrame
│ Row │ Var1     │ Var2      │ Var3      │
│     │ Float64  │ Float64   │ Float64   │
├─────┼──────────┼───────────┼───────────┤
│ 1   │ 0.183454 │ 0.238079  │ 0.793259  │
│ 2   │ 0.10042  │ 0.724577  │ 0.0637017 │
│ 3   │ 0.469861 │ 0.27834   │ 0.682048  │
│ 4   │ 0.509748 │ 0.845894  │ 0.389007  │
│ 5   │ 0.737351 │ 0.385296  │ 0.405424  │
│ 6   │ 0.620465 │ 0.887309  │ 0.83877   │
│ 7   │ 0.837732 │ 0.510466  │ 0.46473   │
│ 8   │ 0.906003 │ 0.0416784 │ 0.690089  │
│ 9   │ 0.523951 │ 0.140486  │ 0.232837  │
│ 10  │ 0.666074 │ 0.671311  │ 0.332323  │
│ 11  │ 0.67073  │ 0.857086  │ 0.219483  │
│ 12  │ 0.259171 │ 0.764807  │ 0.334544  │
│ 13  │ 0.8607   │ 0.701472  │ 0.85039   │
│ 14  │ 0.591217 │ 0.382439  │ 0.461405  │
│ 15  │ 0.982663 │ 0.732113  │ 0.783217  │
│ 16  │ 0.801367 │ 0.110339  │ 0.552376  │
│ 17  │ 0.365878 │ 0.189886  │ 0.317416  │
│ 18  │ 0.925427 │ 0.637402  │ 0.240136  │
│ 19  │ 0.752976 │ 0.688855  │ 0.800782  │
│ 20  │ 0.42813  │ 0.90179   │ 0.458813  │

In [35]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

3×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64   │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼───────────┼──────────┼──────────┼─────────┤
│ 1   │ Var1     │ 0.609666 │ 0.10042   │ 0.64327  │ 0.982663 │         │
│ 2   │ Var2     │ 0.534481 │ 0.0416784 │ 0.654356 │ 0.90179  │         │
│ 3   │ Var3     │ 0.495537 │ 0.0637017 │ 0.460109 │ 0.85039  │         │

In [36]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
insertcols!(df2, 4, (:Cat1 => rand(["GroupA","GroupB"],20)))
df2

20×4 DataFrame
│ Row │ Var1     │ Var2      │ Var3      │ Cat1   │
│     │ Float64  │ Float64   │ Float64   │ String │
├─────┼──────────┼───────────┼───────────┼────────┤
│ 1   │ 0.183454 │ 0.238079  │ 0.793259  │ GroupA │
│ 2   │ 0.10042  │ 0.724577  │ 0.0637017 │ GroupB │
│ 3   │ 0.469861 │ 0.27834   │ 0.682048  │ GroupA │
│ 4   │ 0.509748 │ 0.845894  │ 0.389007  │ GroupB │
│ 5   │ 0.737351 │ 0.385296  │ 0.405424  │ GroupA │
│ 6   │ 0.620465 │ 0.887309  │ 0.83877   │ GroupB │
│ 7   │ 0.837732 │ 0.510466  │ 0.46473   │ GroupA │
│ 8   │ 0.906003 │ 0.0416784 │ 0.690089  │ GroupB │
│ 9   │ 0.523951 │ 0.140486  │ 0.232837  │ GroupB │
│ 10  │ 0.666074 │ 0.671311  │ 0.332323  │ GroupA │
│ 11  │ 0.67073  │ 0.857086  │ 0.219483  │ GroupB │
│ 12  │ 0.259171 │ 0.764807  │ 0.334544  │ GroupA │
│ 13  │ 0.8607   │ 0.701472  │ 0.85039   │ GroupA │
│ 14  │ 0.591217 │ 0.382439  │ 0.461405  │ GroupB │
│ 15  │ 0.982663 │ 0.732113  │ 0.783217  │ GroupA │
│ 16  │ 0.801367 │ 0.110339  │ 0.552376  │ GroupA │
│ 17  │ 0.365878 │ 0.189886  │ 0.317416  │ GroupB │
│ 18  │ 0.925427 │ 0.637402  │ 0.240136  │ GroupB │
│ 19  │ 0.752976 │ 0.688855  │ 0.800782  │ GroupA │
│ 20  │ 0.42813  │ 0.90179   │ 0.458813  │ GroupA │

In [39]:
# Question 11: Create a new DataFrame named df3
df3=DataFrame([1 2;3 4])

2×2 DataFrame
│ Row │ x1    │ x2    │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 2     │
│ 2   │ 3     │ 4     │

In [45]:
# Question 12: Change indicated values to empty entries
allowmissing!(df3)
df3[1,1]=missing
df3

2×2 DataFrame
│ Row │ x1      │ x2     │
│     │ Int64⍰  │ Int64⍰ │
├─────┼─────────┼────────┤
│ 1   │ missing │ 2      │
│ 2   │ 3       │ 4      │

In [47]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values
df4 = dropmissing(df3,disallowmissing=false)

┌ Warning: dropmissing will change eltype of cols to disallow missing by default. Use dropmissing(df, cols, disallowmissing=false) to allow for missing values.
│   caller = ip:0x0
└ @ Core :-1

1×2 DataFrame
│ Row │ x1     │ x2     │
│     │ Int64⍰ │ Int64⍰ │
├─────┼────────┼────────┤
│ 1   │ 3      │ 4      │